<nz-modal
  #newOvertimeModal
  [(nzVisible)]="isNewOvertimeModalVisible"
  nzTitle="New Overtime"
  (nzOnCancel)="onNewOvertimeCancel()"
  (nzOnOk)="currentUserEmployee != null ? onNewOvertimeSubmit() : null"
  [nzOkLoading]="isNewOvertimeModalLoading"
  [nzOkDisabled]="isNewOvertimeSubmitDisabled"
  [nzOkText]="
    newOvertime.emp == null ||
    (newOvertime.emp != null &&
      currentUserEmployee != null &&
      newOvertime.emp.id == currentUserEmployee.id)
      ? 'Request'
      : 'Create'
  "
>
  <ng-container *nzModalContent>
    <app-custom-select-component
      label="Employee"
      [options]="newOvertimeEmployeeOptions"
      displayProperty="name"
      [(value)]="newOvertime.emp"
      (valueChange)="onNewOvertimeEmployeeSelect($event)"
      [isLoading]="isNewOvertimeEmployeeSelectLoading"
    ></app-custom-select-component>
    <div class="spacer"></div>
    <app-custom-date-picker-component
      style="flex: 1"
      label="Date"
      [(value)]="newOvertime.date"
      (valueChanged)="onDateChose($event)"
    ></app-custom-date-picker-component>
    <div class="spacer"></div>
    <div class="flex-row">
      <app-custom-date-picker-component
        style="flex: 1"
        label="Start Time"
        type="time"
        [disabled]="newOvertime.date == null"
        [(value)]="newOvertime.request_start_datetime"
      ></app-custom-date-picker-component>
      <div style="width: 8px"></div>
      <app-custom-date-picker-component
        style="flex: 1"
        label="End Time"
        type="time"
        [disabled]="newOvertime.date == null"
        [(value)]="newOvertime.request_end_datetime"
      ></app-custom-date-picker-component>
    </div>
    <div class="spacer"></div>
    <app-custom-select-component
      label="Status"
      [options]="newOvertimeStatusOptions"
      [(value)]="newOvertime.status"
      [disabled]="
        newOvertime.emp == null ||
        (newOvertime.emp != null &&
          newOvertime.emp.id == currentUserEmployee.id)
      "
      displayProperty="text"
    ></app-custom-select-component>
    <div class="spacer"></div>
    <app-custom-select-component
      label="Report to"
      [options]="newOvertimeReportToOptions"
      [disabled]="newOvertime.emp == null"
      [isLoading]="isNewOvertimeReportToSelectLoading"
      [(value)]="newOvertime.request_emp"
      displayProperty="name"
    ></app-custom-select-component>
  </ng-container>
</nz-modal>
