<div class="container">
  <div class="card">
    <h3 class="card-title">Forgot Password</h3>

    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Request Code"></nz-step>
      <nz-step nzTitle="Verification"></nz-step>
      <nz-step nzTitle="Change Password"></nz-step>
    </nz-steps>

    <div class="steps-content">
      <!-- Step 1 -->
      <app-custom-input-component
        *ngIf="current == 0"
        label="Email"
        [(value)]="email"
      ></app-custom-input-component>

      <!-- Step 2 -->
      <app-custom-input-component
        *ngIf="current == 1"
        label="Code"
        [(value)]="code"
      ></app-custom-input-component>

      <!-- Step 3 -->
      <app-custom-input-component
        *ngIf="current == 2"
        label="New Password"
        [(value)]="newPassword"
        type="password"
      ></app-custom-input-component>
      <app-custom-input-component
        *ngIf="current == 2"
        label="Confirm Password"
        [(value)]="confirmPassword"
        type="password"
      ></app-custom-input-component>
    </div>

    <div class="steps-action">
      <button
        nz-button
        [disabled]="isLoading"
        nzType="default"
        routerLink="/login"
      >
        <span>Login</span>
      </button>
      <div style="margin-right: auto"></div>
      <button
        nz-button
        [disabled]="isLoading"
        nzType="default"
        (click)="pre()"
        *ngIf="current > 0"
      >
        <span>Previous</span>
      </button>
      <button
        nz-button
        [disabled]="current == 1 && code.length != 6"
        [nzLoading]="isLoading"
        nzType="primary"
        (click)="next()"
      >
        <span>{{ current === 2 ? 'Reset' : 'Next' }}</span>
      </button>
    </div>
  </div>
</div>
